body {
    display: flex;
    justify-content: center;
	height: 100vh;
    align-items: center;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #fff;
    padding: 20px;
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
	border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#errorMessage {
    color: red;
    margin-top: 10px;
}
